.frameChild,
.mayTransactionShape {
  position: absolute;
  margin: 0 !important;
}
.mayTransactionShape {
  height: 100%;
  width: 352px;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  cursor: pointer;
  z-index: 1;
}
.frameChild {
  height: 117px;
  width: 46px;
  right: -32px;
  bottom: -70px;
  z-index: 2;
}
.may,
.p {
  margin: 0;
}
.may24 {
  height: 46px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.mayTransactionDetailsInner,
.vectorParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorParent {
  width: 60px;
  flex-direction: row;
  position: relative;
}
.mayTransactionDetailsInner {
  width: 164px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.walmart {
  margin-bottom: -8px;
  text-decoration: none;
  height: 35px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 2;
}
.walmartWrapper {
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.paidByYou {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 3;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -55px;
  font-size: var(--font-size-xl);
}
.emptyLabel {
  align-self: stretch;
  height: 50px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 4;
}
.emptyLabelWrapper,
.mayTransactionDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.emptyLabelWrapper {
  width: 110px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  margin-left: -55px;
  font-size: var(--font-size-5xl);
}
.mayTransactionDetails {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-4xs) 0 var(--padding-10xs) var(--padding-2xl);
  position: relative;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-kanit);
}
@media screen and (max-width: 450px) {
  .walmart {
    font-size: var(--font-size-base);
  }
  .emptyLabel {
    font-size: var(--font-size-lgi);
  }
}
