.groupspage {
    width: 100%;
    z-index: 1;
    position: relative;
    background-color: var(--color-white);
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-kanit);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groupspageChild {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -7px;
    background: linear-gradient(87.07deg, #cde8e5, #f8ffee);
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groupsHeader {
    position: absolute;
    z-index: 2;
    top: 51px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    width: 182px;
    height: 27px;
}

.deleteIcon {
    position: absolute;
    top: 68px;
    left: 9px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
}

.addgroups {
    position: absolute;
    top: 68px;
    right: 9px;
    width: 150px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
}

.groupsList {
    position: absolute;
    z-index: 1;
    top: 120px;
    width: 100%;
    height: 884px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.groupsListHeader {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray);
}

.groupItem {
    width: 300px;
    height: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.closeButton {
    position: relative;
    text-align: right;
    align-items: right;
    left: 120px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
}

.groupText {
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-kanit);
    width: 100px;
    height: 40px;
    top: 100px;
    text-align: center;
    align-items: center;
}

.nogroups {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-kanit);
}