.activity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
}
.activity-text {
    font-weight: bold;
}
.activity-amount {
    font-weight: bold;
}
.activity-amount-positive {
    color: red;
    margin:auto;
}
.activity-amount-negative {
    color: green;
    margin:auto;
}

.balance-negative {
    color: green;
}
.balance-positive {
    color: red;
}

.group-members {
    width: 90%;
    max-width: 900px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-icon {
    position: relative;
    margin-right: 50px;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.recent-activities-bar {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    overflow-y: auto; 
    height: 400px; 
    position: absolute;
    top: 350px;
}

.group-balance {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 60%; 
    background-color: #eaf8e7; 
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
}

.group-balance h2 {
    margin: 0;
    font-size: 1.5em;
}

.group-balance p {
    margin-top: 10px;
    font-size: 1.2em;
}

.recent-activities-bar h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.recent-activities-text {
    font-size: 1.3em;
    position: absolute;
    top: 350px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000;
}
.activity {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    padding: 10px;
}

.activity-date {
    width: 70px;
    font-weight: bold;
}

.activity-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.activity-name {
    font-weight: bold;
    margin: 0 auto;
}

.activity-cost,
.activity-split,
.activity-owe {
    margin-top: 5px;
    margin: 0 auto;
}

.activity-owe {
    color: red;
}

.member-list {
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.member-name {
    margin: 5px 0;
    font-size: 1.2em;
}