.mainpageChild {
    width: 352px;
    height: 72px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);
    display: none;
    max-width: 100%;
    z-index: 0;
}

.mainpageParent {
    width: 354px;
    height: 23px;
    position: absolute;
    margin: 0 !important;
    top: 316px;
    left: 572px;
}

.addTransaction {
    text-decoration: none;
    height: 30px;
    position: relative;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    cursor: pointer;
}

.addTransactionWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.recentActions {
    height: 30px;
    flex: 1;
    position: relative;
    font-weight: 200;
    font-size: medium;
    display: inline-block;
}

.recentActionsParent,
.addTransactionParent,
.recentActionsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.recentActionsWrapper {
    margin-top: 20px;
    width: 331px;
    flex-direction: row;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
}

.recentActionsParent,
.addTransactionParent {
    width: 356px;
    flex-direction: column;
    gap: 13px;
    font-size: var(--font-size-xl);
}

.mainpage {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 76px var(--padding-xl) 327px;
    gap: 37px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-kanit);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    box-sizing: border-box;
}

.transaction-wrapper {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    overflow-y: auto;
    height: 400px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.fix-transactions {
    min-width: 500px;
    margin: auto;
}