.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
}

.userDashboard { /* Use camelCase here */
  width: 500px;
  height: 150px;
  left:1000px;
  margin-top: -500px;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-6xl);
  background: linear-gradient(87.07deg, #cde8e5, #f8ffee);
}

.arrowRightIcon {
  position: relative;
  top: 0;
  left: 195px;
  width: 47px;
  height: 47px;
  overflow: hidden;
  z-index: 2;
}
.helloMess{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  font-family: var(--font-kanit);
}