.button-group {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.settings-button {
    background: linear-gradient(88.3deg, #cde8e5, #eef7ff);
    border: none;
    border-radius: var(--br-6xl);
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: background 0.3s ease;
}

.settings-button:hover {
    background: linear-gradient(to right, #fed6e3, #a8edea);
}