.settingslogoutpage {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-kanit);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settingslogoutpageChild {
    position: absolute;
    top: 0;
    left: -7px;
    background: linear-gradient(87.07deg, #cde8e5, #f8ffee);
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteIcon {
    position: absolute;
    top: 65px;
    left: 13px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
}

.settings {
    position: absolute;
    top: 51px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    width: 182px;
    height: 27px;
}

.accountSafetyBox {
    position: relative;
    top: -150px;
    background: linear-gradient(88.3deg, #cde8e5, #eef7ff);
    border-radius: var(--br-6xl);
    width: 323px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accountSafety,
.notifications,
.switchAccount,
.logOut {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 271px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.notificationsBox {
    position: relative;
    top: -90px;
    background: linear-gradient(88.3deg, #cde8e5, #eef7ff);
    border-radius: var(--br-6xl);
    width: 323px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.switchAccountBox {
    position: relative;
    top: 120px;
    background: rgba(211, 211, 211, 0.417);
    border-radius: var(--br-6xl);
    width: 323px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logOutBox {
    position: relative;
    top: 170px;
    background: rgba(211, 211, 211, 0.417);
    border-radius: var(--br-6xl);
    width: 323px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logOut {
    color: #dc0c0c;
}